*{margin: 0; 
    padding: 0;
}

.box-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: lightblue;
    height: 200px; 

    
    /*flex-direction: column;*/
}


    .box{
        width: 100px;
        height: 100px;
        background-color: red;
    }
        
    .box2 {
        flex: 1;
    
    }